.movieinfo{
    display: flex;
    margin-bottom: 36px;
}

.movieinfo__container{
    padding: 20px 0px;
    flex: 1;
}

.movieinfo__row{
    margin: 0 80px;
}

.movieinfo__img{
    margin-right: 80px;
}

.movieinfo__img > img{
    width: 300px;
    height: 433px;
    border-radius: 8px;
}

.movieinfo__text > h1{
    font-size: 48px;
    margin-bottom: 8px;
}

.movieinfo__info{
    display: flex;
    margin-bottom: 24px;
}

.movieinfo__info > p{
    margin: 4px;
}

.movieinfo__text > h3{
    margin-bottom: 4px;
}

.movieinfo__text > p{
    line-height: 1.7em;
    letter-spacing: 0.4px;
    margin-bottom: 24px;
}

.movieinfo__button{
    display: flex;
    align-items: center;
    font-size: 16px !important;
    padding: 4px 20px 4px 8px;
    background-color: crimson;
    color: white;
    border-radius: 4px;
}

.movieinfo__button .MuiSvgIcon-root{
    font-size: 40px !important;
}

.movieinfo__recommended--list{
    display: flex;
    justify-content: space-between;
}

.movieinfo__recommended > h1{
    margin-bottom: 16px;
}

.skeleton{
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
}

.skeleton__img{
    width: 300px;
    height: 433px;
    margin-right: 80px;
}

.skeleton__title{
height: 15%;
width: 240px;
margin-bottom: 20px;
}

.skeleton__text{
    height: 20px;
    width: 40px;
}

.skeleton__para{
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
}

.skeleton__para--half{
    width: 400px !important;
}

.skeleton__button{
    margin-top: 32px;
    width: 80px;
    height: 40px;
}
